/* Common css */
*{
    margin: 0;
    padding: 0;
}
.btn{
    padding: 18px 35px;
    font-size: 16px;
    
}
a{
    text-decoration: none;
}



/* Navigation */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
    background-color: rgba(172, 166, 166, 0.5);
}
.logo{
    display: flex;
    align-items: center;
}
.logo h3{
    color: aqua;
}
.nav-menus ul{
    display: flex;
    gap: 18px;
    font-size: 18px;
}
.nav-menus ul li{
    list-style: none;
}
/* Banner section */
.banner{
    background-image: url("./asset/image/background.jpg"),linear-gradient(rgba(0, 0, 0, 0.399),rgba(0, 0, 0, 0.371));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  

}
.banner-content{
    width: 55%;
    color: white;
    text-align: center;
}
.banner-title{
    font-size: 75px;
}
.banner-title span{
    color: rgb(245, 44, 44);
}
.banner-description{
    font-size: 24px;
    margin: 25px 0px;
}
.btn-primary{
    color: white;
    background-color:rgb(245, 44, 44);
    border: none;
    margin-right: 10px;
}
/* Services section */
.service{
    height: 100vh;
    padding: 120px 80px;
    background-image: url('./asset/image/footer-bg.png'),linear-gradient(rgba(0, 0, 0, 0.945),rgba(0, 0, 0, 0.918));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-align: left;
    
   
    
}
.service-img{
    width: 80px;
}
.service-content{
    width: 43%;
padding-right: 80px;
}

    
    
.img-title{
    height: 300px;
    width: 300px;
    background-color: white;
    color: black;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-title h4{
   font-size: 20px;
   margin-top: 18px;
}
.frist-row{
    display: flex;
}
.author-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.service-btn{
    padding: 16px 45px;
    border-radius: 28px;
    font-size: 18px;
    
}
.service-content h3{
   font-size: 40px;
   margin: 15px 0px;
}
.service-content p{
    font-size: 20px;
    margin-bottom: 30px;
    
}
.service-content ol{
    
    padding: 0;
    list-style-position: inside;
    font-size: 18px;
    
}


.author-details{
    display: flex;
    align-items: center;
    margin-top: 20px;
   
    
}
.author-des{
    display: flex;
    align-items: center;
    gap: 20px;
    
    border-right: 2px solid rgb(245, 44, 44);
    justify-content: space-between;
     padding-right: 80px;
    margin-right: 20px; 
   
}
/* contact section */
.contact{
    background-image:url('./asset/contact-bg.jpg');
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
     padding: 20px 60px; 
    border-radius: 20px;
    margin-top: -90px;

}
.contact-phone{
    display: flex;
    align-items: center;
   
    
    border-right: 2px solid white;
    padding: 10px;
   
    
}
.contact-description{
    width: 45%;
}

.contact-icon-des h5{
    font-size: 12px;
}
.contact-icon-des h1{
    font-size: 32px;
}
.contact-btn button{
    font-size: 15px;
}
.contact-icon img{
    padding: 10px;
    width: 100px;
}
/* blog section */




